<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Upload</title>
</head>
<body>
    <th:block th:insert="Header.html"></th:block>
    <div class="container-fluid">
        <div class="card">
            <div class="card-header bg-primary text-center text-white">
                <h5>Upload Image</h5>
            </div>
            <form method="post" action="/upload" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="file" class="form-label">Select Image</label>
                    <input type="file" class="form-control" id="file" name="file" required>
                </div>
                <button type="submit" class="btn btn-danger">Upload</button>
            </form>
        </div>
    </div>
</body>
</html>
